# This is an example of how you can mix config values with command line values
# This file contains arguments you may want to reuse across multiple requests
# Simply do a -c <this config file> and add any other parameters you want in CLI
# and they will be merged

username=admin
password=password
portal=https://portal/zm
objectonly=False
display=True
alarmonly=False
minblendarea=100

#doorbell
#mask=4,406 1276,411 1279,719 0,719
#driveway
#mask=69,130 704,68 746,307 1167,716 0,719

# try not to use a large skipframes. While it makes it faster,
# it also means distance between background objects increase and that
# worsens detection
skipframes=1
fontscale=0.8